h1.pageText
{
	color: white;
	text-align: center;
	font-size:50px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#menu
{
	margin-top: 10px;
	color: black;
	padding:11px;
	height: 40px;
}

#lastOption
{
	color:white;
	float: left;
	font-size: 18px;
	padding:1%;
	background-color:#444444;
	height: 25px;	
	margin-top:1%;
	text-align:center;
	width:21.6%;
}

#lastOption:hover
{
	background-color: red;
}

div
{
	display: block;
}

table 
{
	margin: auto;
    width: 50%;
    border-collapse: collapse;
    color: white;
}

td, th {
	border: 4px dotted gray;
    padding: 5%;
    margin:auto;
    text-align: center;
}

tr:nth-child(2n){
    background-color: #666666;
}

tr:nth-child(2n+1){
    background-color: #333333;
}

tr:hover{
	background-color: #666633;
}


a.tilelink
{
	color:white;
	text-decoration: none;
	height: 25px;
	width:21.6%;
}

.tankTileLink
{
	background-color: red;
	width: 230px;
    height: 142px;
}

.square
{
	width: 100%;
	float:left;
}

.tankAsset
{
	display: block;
    margin: 41px auto;
		
	height: 60px;
    position: relative;
}

.tanksTile
{
    margin: 10px;
    width: 180px;
    height: 111px;
    float: left;

    background-color: rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.6);
	color: rgba(255, 255, 255, 0.6);
}

.tanksTile:hover
{
	background-color: rgba(245, 173, 129, 0.6);
	background: rgba(245, 173, 129, 0.6);
	color: rgba(245, 173, 129, 0.6);
}

.option
{
	color:white;
	float: left;
	font-size: 18px;
	padding:1%;
	background-color:#444444;
	height: 25px;
	margin-top:0.1%;
	margin-right:1%;
	margin-top:1%;
	text-align:center;
	width:21.6%;
}
		
.option:hover
{
	background-image: url(b.jpg);
	background-repeat: repeat-x-y;
	cursor:pointer;
}

#user_info
{
	margin-top:2%;
	padding:2%;
	clear:both;
	float:left;
	margin-left:1%;
	height:560px;
	width:19.5%;
	text-align:center;
	color:white; 
	background-color:#555555;
	opacity: 0.8;
}
		
#game_panel
{
	margin-top:2%;
	float:left;
	margin-left:1%;
	
	height:600px;
	width:100%;
	/*width:71.7%;*/
	text-align:center;
	color:white;
}
		
#panel
{
	background-color:rgba(0, 0, 26,0.4);
	height:auto;
	width:400px;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
}

.zawartosc
{
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	padding:50px;
}

.panel_uzytkownika
{
	width:auto;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	background-color:#bfbfbf;
	border:1px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
}

form 
{
	margin: 10%;
}

#login, #password, #email
{
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 5%;
	border: 1px solid silver;
	outline: 5% solid #ebebeb;
	font-size: 22px;
}

#login:focus, #password:focus
{
	outline: 2px solid #1E90FF;
}

.panel-button 
{
	width: 80%;
	height: auto;
	margin: auto;
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 1px black;
	text-align: center;
	text-decoration: none;
	border: 1px solid;
	border-radius: 2px;
	cursor: pointer;
	border-color: green;
	background-color:green;
	display: block;
}


.panel-button:hover
{
	border-color:red;
	background-color: red; 
}

#panel, .panel_uzytkownika, .buttons
{
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
}
